.caja{
    background-color: cyan;
    max-width: 500px;
    height: 600px;
}

.caja-adentro{
    background-color: black;
    width: 100%;
    height: 300px;
}

ol , ul{
    font-size: 40px;

}

ul{
    list-style-image: url('//img.icons8.com/?size=16&id=121551&format=png&color=000000');
}

ol{
    list-style-type: lower-latin;
    list-style-position: inside;
}

.opacidad{
    width: 500px;
    height: 500px;
    opacity: 1;
}

.caja-borde{
    background-color: teal;
    width: 400px;
    height: 400px;
    border-style: dotted;
    border-width: 20px;
    border-color: green;
    border-radius: 20px;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    color: purple;
    text-align: center;
}

.titulo{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#titulo{
    font-family: 'Arial Black', Gadget, sans-serif;
    color: orange;
    text-decoration: underline;
}   
div p{
    color: red;
    font-size: 30px;
}

section > p{
    color: blue;
    font-size: 25px;
}