.box{
    background-color: lightblue;
    padding: 30px 20px; 
    border: 10px solid teal;

}
.box h1{
    background-color: rgb(22, 63, 63);
    color: white;
    text-align: center;
}

.margin{
    margin: 50px;
}

.contenedor{
    background-color: lightgreen;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.grid{
    height: 100vh;
    display: grid;
    background-color: lightcoral;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

.item:nth-child(even){
    
    background-color: rgb(207, 219, 219);

}