.box{
    background-color: lightblue;
    padding: 30px 20px; 
    border: 10px solid teal;

}
.box h1{
    background-color: rgb(22, 63, 63);
    color: white;
    text-align: center;
}

.margin{
    margin: 50px;
}