:root{
    --main-color: beige;
    --color-primario: aqua;
    --font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-image: url(https://images.unsplash.com/photo-1729508419473-b2d296bffbb2?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEwfHx8ZW58MHx8fHx8);
}

h1{
    color: beige;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}